.media {
  position: relative;
  display: flex;
  flex-direction: column;

  &__reviews {
    display: flex;  
    align-items: flex-start;
    justify-content: center;
    flex-wrap: wrap;
    gap: 2rem;
    padding: 2rem 2rem 1rem 2rem;

    .review {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      cursor: pointer;

      &__body {
        position: relative;
        max-width: 200px;
        height: 100px;
        text-align: center;
        overflow: hidden;
        text-overflow: ellipsis;

        *::selection {
          background: transparent;
        }

        > * {
          position: relative;
          max-width: 100%;
        }
      }
    }
  }

  &__recommended {
    padding: 1rem;
    position: relative;
    width: 100%;
    height: auto;
    overflow-y: hidden;
    overflow-x: scroll;

    &__wrapper {
      display: grid;
      gap: .8rem;
      justify-items: center;
      grid-template-columns: repeat(auto-fill, minmax(200px,1fr));
      grid-auto-flow: column;
      grid-auto-columns: minmax(200px, 1fr);
    }
  }

  &__providers {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    padding: 2rem 3rem;
    gap: 4rem;

    > * {
      position: relative;
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;

      > h3 {
        margin-bottom: 1rem;
      }
    }

    .providers {
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 1rem;

      .provider {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        border-radius: 7px;
        overflow: hidden;
  
        &__logo {
          position: relative;
          height: 39px;
          width: 39px;
        }
      }
    }
  }

  &__info {
    position: relative;
    min-height: clamp(300px, 50vw, 450px);
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 2rem 4rem;
    color: white;

    &__overview, &__title {
      max-width: 900px;
      margin: 1rem;
    }
    
    &__title {
      
    }

    &__backdrop {
      inset: 0;
      z-index: -1;
      width: 100%;
      height: 100%;
      position: absolute;

      &::after {
        position: absolute;
        content: '';
        inset: 0;
        width: 100%;
        height: 100%;
        background: rgba(0, 0, 0, 0.751);
      }
    }
  }
}