.btn {
  padding: .6rem 1rem;
  background: none;
  border: none;
  white-space: nowrap;
  cursor: pointer;
  font-size: 1rem;
  position: relative;

  &--viewmore {
    
  }

  &--circle {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    padding: .5rem !important;

    svg {
      fill: $light;
      color: $light;
      stroke: $light;
      font-size: 1rem;
    }
  }

  &--delete {
    background: $error;
  }
  &--edit {
    background: $neutral;
  }
}