.comments {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: column;
  gap: 2.5rem;
  padding-bottom: 7rem;

  .thread {
    position: relative;
    max-width: 1000px;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: column;
    gap: 1rem;
    padding-inline: 2rem;
    width: 100%;

    .comment {
      position: relative;
      display: flex;
      align-items: flex-start;
      justify-content: flex-start;
      flex-direction: column;
      width: 100%;
      padding: .5rem 1rem;
      border-radius: 7px;
      transition: .3s ease-in-out;

      &__controls {
        position: relative;
        width: 100%;
        display: flex;
        align-items: flex-end;
        justify-content: flex-end;
        padding: .7rem 0;
      }

      &:hover {
        background: rgba(0, 0, 0, 0.199);
      }

      &:not(:first-child) {
        $left: clamp(1.5rem, 3vw, 4rem);
        .comment__user {
          padding-left: $left;
        }
        .message {
          margin-left: $left;
          padding-left: .5rem;
        }
      }

      .btn {
        color: $light;
        padding-left: 0.5rem;
        padding-right: 1.5rem;
        font-family: 'Roboto Mono';
        font-size: 0.7rem;
      }

      &__user {
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 100%;

        div {
          display: flex;
          align-items: center;
          justify-content: center;

          p, a {
            margin-left: 1.2rem;
            font-size: 1.2rem;
          }

          .comment_controls {
            position: relative;

            .controls {
              position: absolute;
              top: 0;
              left: 100%;
              margin-left: .5rem;
              display: flex;
              align-items: center;
              justify-content: center;
              gap: 1rem;
            }
            
            .btn--options {
              padding: .3rem .6rem;
              font-size: 1rem;
              transition: all 0.3s cubic-bezier(0.165, 0.84, 0.44, 1);
              border-radius: 5px;
              color: $light;
              margin-left: 1rem;
              display: flex;
              align-items: center;
              justify-content: center;
  
              @media (hover: hover) {
                &:hover {
                  background: rgba(255, 255, 255, 0.132);
                }
              }
            }
          }
        }

        .timestamp {
          font-size: .9rem;
          font-family: 'Roboto Mono';
          opacity: .9;
        }
      }
      .message {
        transition: all 0.4s cubic-bezier(0.075, 0.82, 0.165, 1);
        margin-top: 1rem;
        margin-left: 1rem;

        &--collapsed {
          font-size: .8rem;
        }
      }
    }
  }
}