.preview {
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.703);
  z-index: 100;
  inset: 0;

  .mediapreview {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row-reverse;
    max-width: clamp(800px, 65vw, 1200px);
    height: clamp(320px, 25vw, 500px);
    border-radius: 7px;
    overflow: hidden;

    .card {
      position: relative;
      height: 100%;
      display: flex;
      align-items: center;
      justify-content: center;

      .btn--viewmore {
        color: white;
        font-size: 1rem;
        position: absolute;
        top: 0;
        right: 0;
        z-index: 10;
        opacity: .75;
        transition: all 0.4s cubic-bezier(0.165, 0.84, 0.44, 1);
        margin: .5rem .7rem;

        &:hover {
          opacity: 1;
        }
      }

      &__info {
        position: relative;
        color: white;
        height: 100%;
        padding: 1.3rem 1rem;
        display: flex;
        align-items: flex-start;
        justify-content: space-between;
        flex-direction: column;
        
        .top {
          margin-left: .5rem;

          > p {
            padding: .5rem;
            font-size: .8rem;
          }

          .votes {
            span {
              margin-inline: .5rem;
            }
          }
          .genres {
            display: flex;
            align-items: center;
            justify-content: center;
            flex-wrap: wrap;
            margin-top: .5rem;

            > a {
              white-space: nowrap;
              padding: .2rem .8rem;
              position: relative;
              font-size: .9rem;

              &:first-child {
                padding-left: 0.5rem;
              }

              &:not(:last-child) {
                &::after {
                  content: '';
                  border-radius: 50%;
                  width: 3px;
                  height: 3px;
                  background: rgb(255, 255, 255);
                  position: absolute;
                  right: -0.4rem;
                  top: 50%;
                  transform: translate(-150%, -50%);
                }
              }
            }
          }
        }

        .bottom {
          h2 {
            margin-bottom: 1rem;
          }
          p {
            font-size: .9rem;
          }
        }
      }
  
      &__image {
        top: 0;
        left: 0;
        z-index: -1;
        width: 100%;
        height: 100%;
        position: absolute;
  
        &::after {
          position: absolute;
          content: '';
          inset: 0;
          width: 100%;
          height: 100%;
          background: rgba(0, 0, 0, 0.614);
          transition: all 0.7s cubic-bezier(0.075, 0.82, 0.165, 1);
        }
      }
    }

    &__thumb {
      margin: auto;
      z-index: -3;
      min-width: 280px;
      height: 100%;
      position: relative;

      &::after {
        position: absolute;
        content: '';
        inset: 0;
        width: 100%;
        height: 100%;
        background: rgba(0, 0, 0, 0.189);
        transition: all 0.7s cubic-bezier(0.075, 0.82, 0.165, 1);
      }
    }
  }

  @media screen and (max-width: 960px) {
    display: none;
  }
}
