$dark: #00171f;
$light: rgb(239, 235, 235);
$blue: #007EA7;
$blue-light: #0caff0;

@import './components/index';
@import './pages/index';

body {
  background: $dark;
  color: $light;
}

main {
  > div:not(.media) {
    padding-top: 6rem;
  }
}

.green {
  color: rgb(23, 234, 23);
  font-family: 'Roboto Mono';
}
.yellow {
  color: rgb(248, 232, 17);
  font-family: 'Roboto Mono';
}
.red {
  color: rgb(248, 56, 17);
  font-family: 'Roboto Mono';
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Noto Sans', -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
  Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  scroll-behavior: smooth;

  &::-webkit-scrollbar {
    background: #007ea7;
  }
  &::-webkit-scrollbar-thumb {
    background: rgba(0, 0, 0, 0.263);

    &:active {
      background: rgba(0, 0, 0, 0.42);
    }
  }
}

li {
  list-style: none;
}

.loader {
  position: fixed;
  height: 4px;
  z-index: 9999999999;
  top: 0;
  left: 0;
  width: 100vw;

  &__progress {
    position: absolute;
    left: 0;
    height: 100%;
    width: 100%;
    background: rgba(64, 64, 255, 0);
    transition: background 1s .75s cubic-bezier(0.165, 0.84, 0.44, 1), width .3s ease-in-out;

    &--loading {
      background: rgb(64, 64, 255);
      width: 50%;
      transition: background .3s  cubic-bezier(0.165, 0.84, 0.44, 1), width .3s ease-in-out;
    }
  }
}
@keyframes loader1 {
  0% {
    width: 0%;
  }
  30% {
    width: 35%;
  }
  100% {
    width: 90%;
  }
}
@keyframes loader2 {
  0% {
    width: 0%;
  }
  20% {
    width: 10%;
  }
  50% {
    width: 35%;
  }
  100% {
    width: 80%;
  }
}
